<html>
<body>
<script>
localStorage.setItem("uName",'<%=user.local.username%>');
localStorage.setItem("organisation",'<%=user.local.nameoforganisation%>');

location.href="./index.html";
</script>
<%=user.local.username%>
<%=user.local.nameoforganisation%>

</body>
</html>