<!DOCTYPE HTML>
<html>
<head>
    <title>Money ABCs</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Money ABCs Financial literacy program" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/image-picker.css">
    <link href="css/hopscotch.min.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link href="css/demo.css" rel="stylesheet">
    <link href="css/under_construction.css" rel="stylesheet">
    <!-- js -->
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/topBar.js"></script>
    <link rel="stylesheet" href="css/notify.css">

</head>
<div class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top" >
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" id="logo" ui-sref="home"><img src="images/logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav nav-money">
                    <li class="dropdown">
                        <a href="/" ui-sref-active="active"
                           class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="under_construction.html">About Us</a></li>
                            <li><a ui-sref="contactus">Contact Us</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="student.html">Student</a></li>
                    <li class=""><a href="educator.html">Educator</a></li>
                    <li><a href="supportFLP.html">Support FLP</a></li>

                </ul>
                <!--<form class="navbar-form navbar-left nav-money">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                </form>-->
                <form class="navbar-form navbar-left nav-money"  role="search">
                    <div class="top-search-bar">
                        <div class="input-group" id = "group-key">
                            <div class="input-group-btn search-panel" ng-init="searchType='All'">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Search: {{searchType}}<span class="caret"></span></button>

                                <ul class="dropdown-menu" role="menu">

                                    <li ng-click="setSearch('Articles'); searchType='Articles'"><a href="#id" ><i class="fa fa-angle-double-right"></i>Articles</a></li>
                                    <li ng-click="setSearch('Presentation');searchType='Presentations'"><a href="#name" ><i class="fa fa-angle-double-right"></i>Presentations</a></li>
                                    <li ng-click="setSearch('Video'); searchType='Videos'"><a href="#videos" ><i class="fa fa-angle-double-right"></i>Videos</a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="search_param" value="name" id="search_param">
                            <input type="text" id="search-key" class="form-control search1" placeholder="What are you looking for? (e.g. Credit Scores) " autocomplete="off">
                            <div class="input-group-btn">
                                <button id="search1_btn" ng-click="searchArticle('search1')" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right nav-money marginTop8">
                    <div id="login" ng-show="!logInFlag">
                        <a type="button" class="btn btn-default btn-round"  href="/loginNew">Log in </a> <a type="button" class="btn btn-primary btn-round" href="/signupNew" id="signup">Sign up</a>

                    </div>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">DashBoard</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Saved Articles</a></li>
                            <li role="separator" class="divider"></li>
                            <li ng-click="logOutProfile()"><a href="#">Sign Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>


<div class="container margin5Auto" >

    Upon conducting a market research, I could not find a single website that had the capability of what we currently have to offer and its potential in the near future. More specifically, www.moneyabcs.org provides a platform that combines the winning aspects of Twitter, Pinterest and BlackBoard with the base topic of Financial Literacy into one visually attractive and user friendly page. After a quick demo on moving along the page, the landing page displays current articles with the spiciest headlines tempting the visitor to stay engaged with the information on finance related topics.

    But what brings people to this specific website when compared to other giants such as YouTube?

    Majority of the videos uploaded by the public onto YouTube have been embedded on the landing page itself of this website, therefore, making this website a very effective and engaging financial literacy micro-database. From a business perspective, MoneyABCs.com solves an existing issue within the community of a single user friendly go-to place for personalized information in personal finance and financial literacy communicated at a personal level.
</div>

<section>
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="footer">
            <div class="container ">
                <p>Copyright © 2016 Money ABCs. All Rights Reserved | Design by MoneyABCs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Follow us on:
                    <a href="https://www.facebook.com/Moneyabcs-1795814797370838/ " target="_blank"> <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span> </a>
                    <a href="https://twitter.com/moneyabcs_uta" target="_blank"> <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span> </a>
                    <a href="https://www.instagram.com/moneyabcs_uta/" target="_blank"> <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                </span> </a>
                    <a href="#" target="_blank"> <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span> </a>
                </p>
            </div>
        </div>
    </div>
</section>